{% extends 'core/base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
  <div class="sm:w-5/6 md:w-3/4 lg:w-2/3 my-4 mx-auto rounded-xl">
    <div class="m-0 p-0 text-justify">
        <h1 class="font-semibold text-3xl mb-8">Updating Profile Page</h1>
    </div>
  </div>

  <div class="sm:w-5/6 md:w-3/4 lg:w-2/3 mx-auto p-6 m-6 bg-slate-100 rounded-xl">
    <form action="." method="POST">
      {% csrf_token %}

      <div class="space-y-4">
        {{ form.as_p }}
      </div>
      {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
          {% for field in form %}
            {{ field.errors }}
          {% endfor %}

          {{ form.non_field_errors }}
        </div>
      {% endif %}

      <div class="block-inline sm:w-5/6 md:w-3/4 lg:w-2/3 mx-0">
        <input type="submit" value="Update" class="mt-6 bg-gray-500 text-white rounded-xl py-4 px-8 font-semibold hover:bg-gray-700">
        {% if show_cancel %}
          <button type="button" onclick="location.href='/'" class="mt-6 ml-6 bg-red-600 text-white rounded-xl py-4 px-8 font-semibold hover:bg-red-900">Cancel</button>
        {% endif %}
        {% if message %}
          <h2 class="">&check; {{ message }}</h2>
        {% endif %}
       </div>

    </form>
  </div>

{% endblock %}
